@media (max-width: 1200px) {
  .estrutura {
    /* grid-template-columns: minmax(160px, 1fr) 3fr; */
    grid-template-areas:
      'header header header'
      'sidenav content content'
      'sidenav anuncios anuncios'
      'footer footer footer';
  }
}

@keyframes seta {
  from{
    right: 30px;
  }
  to{
    right: 20px;
  }
}

@media (max-width: 760px){
  .estrutura{
    grid-template-columns: 100% /* pra ficar tudo em uma coluna */;
    grid-template-areas: 
      "header"
      "sidenav"
      "content"
      "anuncios"
      "footer"
    ;
  }

  .header{
    grid-template-columns: auto;
  }

  .logo{
    margin-bottom: 20px;
  }

  .header nav a{
    font-size: 1rem;
  }

  .header li + li{
    margin-left: 10px;
  }

  .sidenav{
    position: relative;
    padding: 0 30px;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }

  .sidenav::after{
    content: '→';
    position: absolute;
    top: 5px;
    right: 30px;
    color: rgba(0,0,0,.3);
    animation: seta .5s ease-in 0s infinite alternate;
  }

  .sidenav ul{
    display: flex;
  }

  .sidenav ul li{
    flex: 1 0 60px;
  }

  .sidenav li a{
    margin: 30px 30px 30px 0;
  }
}

@media (max-width: 600px) {
  .content{
    grid-template-columns: auto;
  }
}